{
  "presets": [
    ["env", {
      "modules": false,
      "useBuiltIns": "entry",
      "targets": {
        "browsers": ["last 3 versions", "Android > 4.1"],
      },
    }],
    "stage-0",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["import", { "libraryName": "antd", "style": true }],
    "transform-flow-strip-types"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-class-properties",
        "transform-proto-to-assign"
      ]
    }
  }
}
