.result{
   
  .result-content{
    background-color: #fff;
    margin-top: 0.2rem;
    padding-top: 4.46rem;
    text-align: center;
    h4{
      font-size: 0.34rem;
      color: #333;
      margin: 0;
      padding: 0;
    }
    p{
      margin: 0;
      padding: 0;
      margin-top: 0.2rem;
      font-size: 0.26rem;
      color: #909090;
      line-height: 0.44rem;
    }
    .result-content-btn{
      height: 0.8rem;
      width: 5.4rem;
      text-align: center;
      line-height: 0.8rem;
      color: #fff;
      font-size: 0.34rem;
      background-color: #2ABEC4;
      display: block;
      margin:0 auto;
      margin-top: 0.80rem;
      border-radius: 0.5rem;
    }
  }
  .result-succeed{
    background-image:url(../../../img/chenggong.png);
    background-size: 2.58rem 2.58rem;
    background-position: 2.46rem 1.4rem ;
    background-repeat: no-repeat; 
  }
  .result-fail{
    background-image:url(../../../img/shibai.png);
    background-size: 2.58rem 2.58rem;
    background-position: 2.46rem 1.4rem ;
    background-repeat: no-repeat; 
  }
  .my-order{
    font-size: 0.3rem;
    color: #F29327;
  }
  .indexfocus{
        margin-top: 0.2rem;
        height: 3.6rem;
        background: #fff;
        position: relative;
        padding-top: 0.3rem;
        padding-left: 0.5rem;
        text-align: left;
        position: absolute;
      bottom: 0;
      left: 0;
      border-top: 0.2rem solid #f5f5f9;
      width: 100%;
        p{
          margin:0;padding:0;
            font-size: 0.24rem;
            color: #999;
            width: 4.5rem;
            line-height: 0.44rem;
        }
        .indexfocus-titile{
            color: #333;
            font-size: 0.3rem;
            text-indent: -0.2rem;
            margin-bottom: 0.15rem;
        }
        strong{
          margin:0;padding:0;
            font-size: 0.4rem;
            color: #2abec4;
        }
    }
    .focus-btn{
        width: 3.1rem;
        height: 0.7rem;
        background: #2abec4;
        color: #fff;
        font-size: 0.3rem;
        text-align: center;
        line-height: 0.7rem;
        position: absolute;
        top: 2.42rem;
        left: 0.5rem;
        border-radius: 0.7rem;
        box-shadow: 0 3px 8px 0 rgba(68,117,115,0.22);
    }
    .shuhui{
        width: 2.2rem;
        height:2.52rem;
        background:url(../../../img/shuhui.png);
        background-size: cover;
        position: absolute;
        top: 0.5rem;
        left: 4.93rem;
    }
    .shulv{
        width: 2.2rem;
        height:2.52rem;
        background:url(../../../img/shuliang.png);
        background-size: cover;
        position: absolute;
        top: 0.5rem;
        left: 4.93rem;
    }
}