.index{
    p,h4{
        padding:0;
        margin: 0;
    }
    .header{
        position: relative;
        background:url(../../../img/beijing.png);
        background-size: cover;
        height: 6.4rem;
        padding-top: 2.0rem;
        h4{
            color: #fff;
            text-align: center;
            font-size: 0.58rem;
            font-weight: normal;
        }
        p{
            margin-top: 0.2rem;
            line-height: 0.50rem;
            color: #fff;
            font-size: 0.32rem;
            text-align: center;
        }
        .header-item-bj{
            width: 7.1rem;
            height: 1.8rem;
            background-color: #fff;
            opacity: 0.8;
            border-radius: 0.1rem;
            position: absolute;
            top: 0;
            left: 0;
        }
        .header-item{
            position: absolute;
            bottom : 0.2rem;
            left: 50%;
            margin-left: -3.55rem;
            width: 7.1rem;
            height: 1.8rem;
            .header-item-content{
                position: absolute;
                top: 0;
                left: 0;
                width: 7.1rem;
                height: 1.8rem;
                span{
                    float: left;
                    width: 33%;
                    text-align: center;
                    color: #666;
                    font-size: 0.28rem;
                    height: 1.8rem;
                    padding-top: 1.25rem;
                }
                .header-item-1{
                    background:url(../../../img/dianwoshishi.png) center 0.35rem no-repeat;
                    background-size: 0.7rem 0.7rem;
                }
                .header-item-2{
                    background:url(../../../img/huodong.png) center 0.35rem no-repeat;
                    background-size: 0.7rem 0.7rem;
                }
                .header-item-3{
                    background:url(../../../img/shili.png) center 0.35rem no-repeat;
                    background-size: 0.7rem 0.7rem;
                }
            }
        }
    }
    .banner{
        height: 5.41rem;
        background: #fff;
        background:url(../../../img/indexbanner.png);
        background-size: cover;
    }
    .indexfocus{
        margin-top: 0.2rem;
        height: 3.6rem;
        background:url(../../../img/indexfocus.png);
        background-size: cover;
    }
    .list{
        margin-top: 0.2rem;
        background: #fff;
        padding:0 0.3rem;
        margin-bottom: 0.2rem;
        .list-item{
            padding:0.3rem 0;
            border-bottom: 0.01rem solid #eee;
            .list-item-img{
                float: left;
                width: 2.0rem;
                height: 1.6rem;
            }
            .list-item-warp{
                float: right;
                width: 4.74rem;
                span{
                    display: block;
                }
                .list-item-warp-title{
                    padding-top: 0.2rem;
                    color: #2ABEC4;
                    font-size: 0.28rem
                }
                .list-item-warp-content{
                    color: #aaa;
                    font-size: 0.28rem;
                    line-height: 0.4rem;
                    padding-top: 0.1rem;
                }
            }
        }
        .list-item:last-child{
            border-bottom: none;
        }
    }
}