.buy-account{
  margin-top: 0.2rem;
  background-color: #fff;
  ul,li,dt,dd,dl{
    margin: 0;
    padding: 0;
  }
  .buy-account-list{
    padding:0 0.3rem;
    .buy-account-item{
      list-style: none;
      height: 1.0rem;
      line-height: 1.0rem;
      font-size: 0.28rem;
      color: #666;
      position: relative;
      .buy-account-item-label{
        .b-a-i-l-label{
          float: left;
          color: #666;
        }
        .icon-wenhao{
          float: left;
          margin-top: 0.27rem;
          margin-left: 0.1rem;
        }
        float: left;
      }
      .buy-account-item-value{
        float: right;
        color: #333;
      }
    }
    .buy-account-item:last-child{
      border-bottom: none;
    }
  }
  .buy-account-item::after{
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1PX;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  .buy-account-item:last-child::after{
    display: none;
  }
  .buy-account-money::before{
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 1PX;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  .buy-account-money{
    position: relative;
    padding:0 0.3rem 0.3rem 0.3rem;
    dt{
      padding-top: 0.25rem;
      font-size: 0.28rem;
      color: #999;
    }
    dd{
      overflow: hidden;
      margin-top: 0.1rem;
      .buy-account-money-num{
        font-size: 0.84rem;
        color: #FF8A00;
        float: left;
      }
      .buy-account-btn{
        float: right;
        width: 2.3rem;
        background: #2ABEC4;
        border-radius: 1.0rem;
        display: block;
        height: 0.8rem;
        line-height: 0.8rem;
        text-align: center;
        color: #fff;
        font-size: 0.32rem;
        margin-top: 0.1rem;
      }
    }
  }
}