.shouyehui,.shouye,.goumaihui,.goumai,.baogaohui,.baogao,.wodehui,.wode{
    width: 0.34rem;
    height: 0.34rem;
    margin-top:0.09rem;
}
.shouyehui{background: url(../../../img/shouyehui.png) center center /  0.34rem 0.34rem no-repeat; }
.shouye{background: url(../../../img/shouye.png) center center /  0.34rem 0.34rem no-repeat;}
.goumaihui{background: url(../../../img/goumaihui.png) center center /  0.34rem 0.34rem no-repeat;}
.goumai{background: url(../../../img/goumai.png) center center /  0.34rem 0.34rem no-repeat;}
.baogaohui{background: url(../../../img/baogaohui.png) center center /  0.34rem 0.34rem no-repeat;}
.baogao{background: url(../../../img/baogao.png) center center /  0.34rem 0.34rem no-repeat;}
.wodehui{background: url(../../../img/wodehui.png) center center /  0.34rem 0.34rem no-repeat;}
.wode{background: url(../../../img/wode.png) center center /  0.34rem 0.34rem no-repeat;}